// configuracion de botones
.botones{
    // margin: 20px;
    padding: 60px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
// configuracion del boton compartir

.boton__compartir{
    margin: 0px 10px;
    height: 40px;
    width: 150px;
    padding: 0px 10px;
    border-radius: 60px;
    color: $white;
    background: $nickel;
    &:hover{
        background: $platinium;
    }
}
// configuracion del bonton twitter

.boton__twitter{
    margin: 0px 10px 0px 0px;
    color: $white;
    width: 400px;
   height: 40px;
   border-radius: 60px;
   background: $nickel;
}


@media only screen and (min-width:500px) and (max-width: 1920px){
// configuracion de botones para desktop
.botones{
    padding: 100px 200px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.boton__twitter{
    width: 200px;
}

}
