// configuracion de la imagen de testimonio

.post__image--redonda{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 150px;
}


@media only screen and (min-width:500px) and (max-width: 1920px){
    .post__image--redonda{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 100px;
        width: 200px;
        height: 200px;
    }
}