// configuracion de la compagionacion

.compaginacion{
    background: $platinium;
}

.compaginacion2{
    display: none;
}

.compaginacion2{
    @extend .compaginacion
}

@media only screen and (min-width:500px) and (max-width: 1920px){
    .compaginacion{
        display: none;
    }
    
    .compaginacion2{
        display: block;
    }
}
