// configuración de titulos

.titulo{
    text-align: center;
 p{
opacity: 0;
}
h1{
color: $white;
padding: 50px;
margin: 0px;
font-family: $playfair-display;
font-weight: $black-playfair;
font-size: $x-large;
font-style: $italic;
}
i{
color: $white;
padding-bottom: 30px;
}
    }

    // configuracion de contenido(parrafo)

.contenido__fecha{
    font-size: $small;
    margin: 0px;
    padding: 20px 50px;
    font-family: $playfair-display;
    font-weight: $regular-playfair;
}
.contenido__parrafo{
    margin: 0px;
    padding: 10px 50px;
    font-family: $roboto;
    color: $raisin_black;
    font-weight: $light-roboto;
}

// configuracion de texto de section testiminio

.testin{
    padding-top: 10px;
    text-align: center;
}

.testin__nombre{
    color: $eerie-black;
    padding: 20px 0px;
    margin: 0px;
    font-family: $playfair-display;
    font-style: $italic;
    font-weight: $black-playfair;
}
.testin__redsocial{
    margin: 0px;
    color: $fuzzy-wuzzy;
    font-family: $roboto;
    font-weight: $light-roboto;
}



@media only screen and (min-width:500px) and (max-width: 1920px){

.titulo{
    h1{
        padding: 0px 300px;
        font-size: $xx-large;
    }
}

.contenido__fecha{
    padding: 40px 210px;
}
.contenido__parrafo{
    padding: 20px 210px;
}

}