// colors Scheme
$white: #fff;
$platinium: #e6e7e7;
$light-gray: #d1d1d1;

// segunda tanda
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;

// tercera tanda
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;

// typefaces

$roboto: 'Roboto', sans-serif;
$playfair-display: 'Playfair Display', serif;

// weight
$regular-roboto: 400px;
$light-roboto: 300px;
$black-italic-playfair: 900px;
$regular-playfair: 400px;

// font sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;