// organizacion de la imagen y sus elementos internos cabecera

main{
    height: 450px;
    background-image: url(../images/post-image.jpg);
    background-position: -150px;
    background-repeat: no-repeat;
    background-size: cover;  
    
  
}
.titulo{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



@media only screen and (min-width:500px) and (max-width: 1920px){
    main{
        height: 700px;
        background-position: 100%;
        background-size: cover;
    }
    .titulo{
        height: 700px;
    }
}
